<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.unamur.be/coreal/CoreAL" 
       class = "be.unamur.coreal.coreAL.CoreALPackage"
       genModel = "model/generated/CoreAL.genmodel" /> 
	
  </extension>



</plugin>
